<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.13.5" targetFramework="net452" />
  <package id="EntityFramework" version="6.4.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net452" />
  <package id="nunrar" version="1.0.1" targetFramework="net452" />
  <package id="Quartz" version="3.0.7" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net452" />
  <package id="selenium-server-standalone" version="3.9.1.1" targetFramework="net452" />
</packages>